<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Properties>
		<Property  name="LOG_HOME">${sys:catalina.base}/logs</Property >
		<!-- <Property  name="LOG_HOME">G:\Alex_tool\apache-tomcat-8.0.39\logs</Property > -->
   </Properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level %thread %c - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="500 MB" />  
			</Policies>
			<DefaultRolloverStrategy>
				<Delete basePath="${LOG_HOME}" maxDepth="1">
					<IfLastModified age="3d" />
				</Delete>
			</DefaultRolloverStrategy>
		</Console>
		<!-- ad request business 请求日志 -->
		<RollingRandomAccessFile name="business"
			fileName="${LOG_HOME}/RTB_REPORT_BUSINESS_DAILY.log" filePattern="${LOG_HOME}/RTB_REPORT_BUSINESS_DAILY.%d{yyyy-MM-dd-HH}.log">
			<PatternLayout
				pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level %thread  %c - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<!-- <SizeBasedTriggeringPolicy size="500 MB" />   -->
			</Policies>
			<DefaultRolloverStrategy>
				<Delete basePath="${LOG_HOME}" maxDepth="1">
					<IfLastModified age="3d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingRandomAccessFile>
		
	    <RollingRandomAccessFile name="report"
			fileName="${LOG_HOME}/RTB_REPORT_SERVER_DAILY.log" filePattern="${LOG_HOME}/RTB_REPORT_SERVER_DAILY.%d{yyyy-MM-dd-HH}.log">
			<PatternLayout
				pattern="%msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<!-- <SizeBasedTriggeringPolicy size="400 MB" />  -->
			</Policies>
			<DefaultRolloverStrategy>
				<Delete basePath="${LOG_HOME}" maxDepth="1">
					<IfLastModified age="3d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingRandomAccessFile>
		
	</appenders>
	<loggers>
        <logger name="org.spring" level="error" additivity="false">  
            
            <AppenderRef ref="business" />  
        </logger>  
        <logger name="org.springframework" level="error" additivity="false">  
            
            <AppenderRef ref="business" />  
        </logger>  
        <logger name="org.apache.zookeeper" level="error" additivity="false">  
             
            <AppenderRef ref="business" />  
        </logger>  
        <logger name="org.apache.thrift" level="error" additivity="false">  
            
            <AppenderRef ref="business" />  
        </logger>  

		<logger name="com.ocean" level="info" additivity="false" > 
			 <AppenderRef ref="business" />  
		</logger> 
		<Logger name="business" level="info" additivity="false">
			<AppenderRef ref="business" />
		</Logger>
		<Logger name="report" level="info" additivity="false">
			<AppenderRef ref="report" />
		</Logger>
		<Root level="info">
		    <appender-ref ref="report" />
			<!-- <appender-ref ref="Console" /> -->
			
		</Root>
	</loggers>
</Configuration>